---
layout: default
title: Fanart
---

<h2>
    Fanart
</h2>

<p>The following images are of illustrations of staff members, that the community has created.</p>

<div class="row d-flex justify-content-center">
<div class="col-4-md flex-column justify-content-center">
<figure>
<img src="{{ '/assets/images/artists/pierpic.png' | prepend: site.baseurl }}" alt="Three of the community members (Danni G, Gizo, and Chilli) sitting on a pier" class= "Fanart" width="100em">
<figcaption>Made by Selena</figcaption>
<figure>
</div>
<div class="col-4-md flex-column justify-content-center">

<figure>
<img src="{{ '/assets/images/artists/girraffe and danni.png' | prepend: site.baseurl }}" alt="Danni hugging a girraffe." class= "Fanart" width="100em">
<figcaption>Made by Selena</figcaption>
<figure>
</div>
<div class="col-4-md flex-column justify-content-center">
<figure>
<img src="{{ '/assets/images/artists/gizo and snowman.png' | prepend: site.baseurl }}" alt="Gizo holding a pumpkin head from a snowman." class= "Fanart" width="100em">
<figcaption>Made by Selena</figcaption>
<figure>
</div>
</div>
<div class="row d-flex justify-content-center">
<div class="col-4-md flex-column justify-content-center">
<figure>
<img src="{{ '/assets/images/artists/Logic with bees.png' | prepend: site.baseurl }}" alt="Logic standing with three bees" class= "Fanart" width= "100em">
<figcaption>Made by <br> DaAwsumPompom</figcaption>
</figure>
</div>
<div class="col-4-md flex-column justify-content-center">
<figure>
<img src="{{ '/assets/images/artists/Logic and mic.png' | prepend: site.baseurl }}" alt="A portrait of Logic at his computer ready to stream." class= "Fanart" width= "100em">
<figcaption>Made by Demi Rage 27</figcaption>
</figure>
</div>
<div class="col-4-md flex-column justify-content-center">
<figure>
<img src="{{ '/assets/images/artists/Pufferfish.jpg' | prepend: site.baseurl }}" alt="Gizo's face placed on a pufferfish." class= "Fanart" width= "100em">
<figcaption>Made by HyperAndrew21</figcaption>
</figure>
</div>
</div>