      <nav class="navbar navbar-expand-md navbar-dark bg-second-nav" aria-label="secondary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
     <ul class="nav navbar-nav ml-auto navbar-default" role="menubar">
   <li><a class="nav-item" href="{{ '/about/aims.html' | prepend: site.baseurl }}">Aims</a></li>
  <li><a href="{{ '/about/FAQ.html' | prepend: site.baseurl }}">FAQ</a></li>
  </ul>
  </div>
      </nav>