<nav class="navbar navbar-expand-md navbar-dark bg-review-nav" aria-label="secondary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
     <ul class="nav navbar-nav ml-auto navbar-default" role="menubar">
   {% for item in site.data.nav-bar-review %}
<li><a class="nav-item" href="{{ item.link | prepend: site.baseurl }}">{{ item.name }}</a></li>
{% endfor %}
  </ul>
  </div>
      </nav>