<div class="container-fluid">
  <div class="row">
      <div class="col-3 px-1 bg-my-sidenav position-fixed" id="sticky-sidebar">
          <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
<li><a class="nav-item" href="{{ '/review/holidays.html' | prepend: site.baseurl }}">Holidays</a></li>
<li><a href="{{ '/review/places-in-sussex/places-in-sussex.html' | prepend: site.baseurl }}">Places in Sussex</a></li>
<li><a href="{{ '/review/acessabile-facilities.html' | prepend: site.baseurl }}">Acessabile Facilities</a></li>
</div>
</div>