<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a href="{{ '/index.html' | prepend: site.baseurl }}" class="navbar-brand">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="primary">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
   <ul class="nav navbar-nav ml-auto navbar-default" role="menubar">
 <li><a class="nav-item" href="about.html" class="nav-link">About</a></li>
<li><a href="review.html">Review</a></li>
 <li><a href="activities.html">Activities</a></li>
 <li><a href="useful information.html">Useful information</a></li>
</ul>
</div>
    </nav>
  </header>