h1 {
  margin: 30px 0;
  font-size: 16em;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1;
  letter-spacing: -1px;
}

nav li {
  display:inline-block;
  margin-left: 30px;
  padding-top: 25px;
  }

  .bg-my-nav{
background:#000D14;
  }

  .bg-second-nav{
    background: #000D14;
  }
  nav a {
      color: #FFFFEB;
    font-family: 'Noto Sans JP', sans-serif;
  }

    #footer-content {
      background: #000D14;
      color: #FFFFEB;
      font-family: 'Noto Sans JP', sans-serif;
    }

      .mybtn {
        background-color: #22A9FD;
        font-size: 20px;
        color: #FFFFEB;
        font-family: 'Noto Sans JP', sans-serif;
        border: solid rgb(0, 0, 0) 3px;
        font-weight: bold;
        border-radius: 20px;
       padding: 8px;
        }

      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }