h1 {
  margin-left: 50px;
  font-size: 16em;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
}

h3 {
    margin-left: 50px;
    font-size: 16em;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1;
    letter-spacing: -1px;
    padding-top: 10px;
}

nav li {
  display:inline-block;
  margin-left: 30px;
  padding-top: 25px;
  }

  .bg-my-nav{
background:#000D14;
color: #FFFFEB;
  }

  .bg-second-nav{
    background: #000D14;
    color: #FFFFEB;
	padding-bottom: 0%;
  }
  
  .bg-review-nav{
  background: #000D14;
  color: #FFFFEB;
  padding-top: 0%;
  }

.bg-activities-nav {
    background: #000D14;
    color: #FFFFEB;
    padding-bottom: 0%;
}
.review-container {
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1;
    letter-spacing: -1px;
}

nav a {
    color: #FFFFEB;
    font-family: 'Noto Sans JP', sans-serif;
}

    #footer-content {
      background: #000D14;
      color: #FFFFEB;
      font-family: 'Noto Sans JP', sans-serif;
    }

      .mybtn {
        background-color: #0296F2;
        font-size: 20px;
        color: #000D14;
        font-family: 'Noto Sans JP', sans-serif;
        border: solid #000D14 3px;
        font-weight: bold;
        border-radius: 20px;
       padding: 8px;
        }

        .site-footer{
          position: relative;
          width: 150%;
          overflow-y: auto;
          left: 0;
          bottom: 0;
          padding-top: 10px;
        }

        .mybtnpreviousbutton {
          background-color: #0296F2;
          font-size: 20px;
          color: #000D14;
          font-family: 'Noto Sans JP', sans-serif;
        border: solid #000D14 3px;
        font-weight: bold;
        border-radius: 20px;
       padding: 8px;
       margin-bottom: 5px;
       margin-left: 20px
        }

        .mybtnnextbutton {
          background-color: #0296F2;
          font-size: 20px;
          color: #000D14;
          font-family: 'Noto Sans JP', sans-serif;
        border: solid #000D14 3px;
        font-weight: bold;
        border-radius: 20px;
       padding: 8px;
       margin-top: 10px;
       margin-bottom: 5px;
       margin-left: 20px
        }
     