<!doctype html>
<html lang="en">
<head>
        
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
{{ page.title }}
</title>
<!--Custom style sheets-->
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl}}">
</head>

<body>
<header>
<div class="row"
<div class="col">
<a href="#main-content">Skip to main content</a>
</div>
<div class="col">
<a href="#footer-content">Skip to footer</a>
</div>
</div>
        {% include nav.html %}
        </header>
        
<main id="main-content">
{{ content }}
</main>

    <footer class="site-footer" id="footer-content">
{% include footer.html %}
</footer>

{% include scripts.html %}

</body>

</html>